
<div class="uk-panel uk-panel-box uk-margin" id="projects">
	<h2 class="uk-text-center uk-text-danger">Строительные Проекты</h2>
	<!-- /////////////////////////////////////////////// -->
	<h4 class="uk-text-center uk-text-warning">Алексидзе #9</h4> 
	<div class="uk-badge uk-panel-badge">
		<span class="uk-heading">НОВЫЙ</span>
	</div>
	<div data-uk-slideset="{default: 3, animation:'scale'}" class="uk-margin">
		<div class="uk-slidenav-position uk-margin">
			<ul class="uk-grid uk-slideset">
				<a href="/assets/img/aleksidze_9/13.jpg" data-uk-lightbox>
					<li><img src="/assets/img/aleksidze_9/13.jpg" alt="" /></li>	
				</a>
				<a href="/assets/img/aleksidze_9/11.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/aleksidze_9/11.jpg" alt="" /></li>
				</a>
				<a href="/assets/img/aleksidze_9/10.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/aleksidze_9/10.jpg" alt="" /></li>
				</a>
				<a href="/assets/img/aleksidze_9/1.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/aleksidze_9/1.jpg" alt="" /></li>
				</a>
				<a href="/assets/img/aleksidze_9/2.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/aleksidze_9/2.jpg" alt="" /></li>
				</a>
				<a href="/assets/img/aleksidze_9/4.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/aleksidze_9/4.jpg" alt="" /></li>
				</a>
				<a href="/assets/img/aleksidze_9/8.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/aleksidze_9/8.jpg" alt="" /></li>
				</a>
				<a href="/assets/img/aleksidze_9/3.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/aleksidze_9/3.jpg" alt="" /></li>
				</a>
			
			</ul>	
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideset-item="previous"></a>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideset-item="next"></a>
		</div>	<!-- /uk-slidenav-position -->
		<ul class="uk-slideset-nav uk-dotnav uk-flex-center">
			<li data-uk-slideset-item="0"><a href="#"></a></li>
			<li data-uk-slideset-item="1"><a href="#"></a></li>
			<li data-uk-slideset-item="2"><a href="#"></a></li>
		</ul>
	</div> <!--/uk-slideset  -->
	<hr />
	<!-- ----------------------------------------- -->
	<h4 class="uk-text-center uk-text-danger">Ткварчели #2</h4>
	<div data-uk-slideset="{default: 3, animation: 'scale'}" class="uk-margin">
		<div class="uk-slidenav-position uk-margin">
			<ul class="uk-grid uk-slideset">
				<a href="/assets/img/tkvarcheli/1.jpg" data-uk-lightbox>
					<li>
						<img src="/assets/img/tkvarcheli/1.jpg" alt="" />
					</li>	
				</a>
				<a href="/assets/img/tkvarcheli/2.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/tkvarcheli/2.jpg" alt="" /></li>
				</a>
				<a href="/assets/img/tkvarcheli/3.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/tkvarcheli/3.jpg" alt="" /></li>
				</a>
			</ul>	
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideset-item="previous"></a>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideset-item="next"></a>
		</div>	<!-- /uk-slidenav-position -->
		<ul class="uk-slideset-nav uk-dotnav uk-flex-center">
			<li data-uk-slideset-item="0"><a href="#"></a></li>
			<li data-uk-slideset-item="1"><a href="#"></a></li>
			<li data-uk-slideset-item="2"><a href="#"></a></li>
		</ul>
	</div> <!--/uk-slideset  -->
	<hr />
	<!-- ---------------------------------------- -->
	<h4 class="uk-text-center uk-text-danger">Алексидзе #1</h4>
	<div data-uk-slideset="{default: 3, animation: 'scale'}" class="uk-margin">
		<div class="uk-slidenav-position uk-margin">
			<ul class="uk-grid uk-slideset">
				<a href="/assets/img/aleksidze_1_7/1.jpg" data-uk-lightbox title="">
					<li>
						<img src="/assets/img/aleksidze_1_7/1.jpg" alt="" />
					</li>	
				</a>
				<a href="/assets/img/aleksidze_1_7/2.jpg" data-uk-lightbox title="">
					<li>
						<img src="/assets/img/aleksidze_1_7/2.jpg" alt="" />
					</li>	
				</a>
				<a href="/assets/img/aleksidze_1_7/3.jpg" data-uk-lightbox title="">
					<li>
						<img src="/assets/img/aleksidze_1_7/3.jpg" alt="" />
					</li>	
				</a>
				<a href="/assets/img/aleksidze_1_7/4.jpg" data-uk-lightbox title="">
					<li>
						<img src="/assets/img/aleksidze_1_7/4.jpg" alt="" />
					</li>	
				</a>
				<a href="/assets/img/aleksidze_1_7/5.jpg" data-uk-lightbox title="">
					<li>
						<img src="/assets/img/aleksidze_1_7/5.jpg" alt="" />
					</li>	
				</a>
				<a href="/assets/img/aleksidze_1_7/6.jpg" data-uk-lightbox title="">
					<li>
						<img src="/assets/img/aleksidze_1_7/6.jpg" alt="" />
					</li>	
				</a>
			</ul>	
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideset-item="previous"></a>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideset-item="next"></a>
		</div>	<!-- /uk-slidenav-position -->
		<ul class="uk-slideset-nav uk-dotnav uk-flex-center">
			<li data-uk-slideset-item="0"><a href="#"></a></li>
			<li data-uk-slideset-item="1"><a href="#"></a></li>
			<li data-uk-slideset-item="2"><a href="#"></a></li>
		</ul>
	</div> <!--/uk-slideset  -->

</div>	<!-- /uk-panel -->
