<div class="uk-hidden-small" style="background:black;" id="header" data-uk-sticky>
	<h3 class="uk-text-center" id="navigation">
		<ul class="snip1155">
			<a href="#projects" class="uk-link-muted uk-text-primary uk-margin-left" data-uk-smooth-scroll="{duration:1200}">მშენებლობა</a>  
			<a href="#hotel" class="uk-link-muted uk-text-primary uk-margin-right" data-uk-smooth-scroll="{duration:1200}">სასტუმრო </a>
			<img src="/assets/img/logo.jpg" alt="" class="uk-thumbnail-mini uk-border-rounded uk-margin" style="width:100px" />
			<a href="#resort" class="uk-link-muted uk-text-primary uk-margin-left" data-uk-smooth-scroll="{duration:1200}">რეზორტი</a>
			<a href="#contact" class="uk-link-muted uk-text-primary uk-margin-left" data-uk-smooth-scroll="{duration:1200}">კონტაქტი</a>
			<a href="https://www.facebook.com/basilonglobalservice/"><span class="uk-icon-facebook-square uk-icon-medium"></span></a>
			<a href="/"><img src="/assets/img/en.png" width="30" class="uk-margin-remove" alt="" /></a>
			<a href="/ru"><img src="/assets/img/ru.png" width="30" class="uk-margin-remove" alt="" /></a>
		</ul>
	</h3>
</div>

<!-- responsive navigation -->
<nav class="uk-navbar uk-visible-small" style="background:black">
	<a class="uk-navbar-toggle uk-contrast uk-margin-small-top uk-text-large" href="#mobile-nav" data-uk-offcanvas="{mode: 'reveal'}" style="color:lightblue"></a>	
	<div class="uk-navbar-flip">
		<a href="/"><img src="/assets/img/en.png" width="30" class="" alt="" /></a> &nbsp;
		<a href="/ru"><img src="/assets/img/ru.png" width="30" class="" alt="" /></a> &nbsp;
		<img src="/assets/img/logo.jpg" alt="" class="uk-responsive-width uk-thumbnail-mini" style="width:80px"/>
	</div>
</nav>

<div id="mobile-nav" class="uk-offcanvas">
	<div class="uk-offcanvas-bar" style="background:black">
		<ul class="uk-nav uk-list-line snip1155 uk-margin-top">
			<li class="uk-nav-divider uk-animation-slide-right"><a href="#projects" class="uk-text-large uk-text-bold uk-text-primary uk-animation-hover uk-animation-scale uk-animation-reverse"><span class="uk-icon-building-o uk-contrast"></span>&nbsp;&nbsp;&nbsp;PROJECTS</a></li>	
			<li class="uk-nav-divider uk-animation-slide-left"><a href="#hotel" class="uk-text-large uk-text-primary uk-text-bold uk-animation-hover uk-animation-scale uk-animation-reverse"><span class="uk-icon-hotel uk-contrast"></span>&nbsp;&nbsp;HOTEL </a></li>	
			<li class="uk-nav-divider uk-animation-slide-right"><a href="#agriculture" class="uk-text-large uk-text-primary uk-text-bold uk-animation-hover uk-animation-scale uk-animation-reverse"><span class="uk-icon-tree uk-contrast"></span>&nbsp;&nbsp;AGRICULTURE</a></li>	
			<li class="uk-nav-divider uk-animation-slide-left"><a href="#agriculture" class="uk-text-large uk-text-primary uk-text-bold uk-animation-hover uk-animation-scale uk-animation-reverse"><span class="uk-icon-envelope uk-contrast"></span>&nbsp;&nbsp;CONTACT </a></li>	
			<br />
			<br />
			<a class="" href="https://www.facebook.com/basilonglobalservice/"> <span class="uk-icon-facebook-square uk-icon-medium"></span></a>
			</li>
		</ul>
	</div>
</div>


