<div class="uk-panel uk-panel-box" id="hotel">
	<h2 class="uk-text-center uk-margin-large-bottom uk-text-bold uk-text-danger">Hotel</h2>	
	<div data-uk-slideset="{default: 3}" class="uk-margin">
		<div class="uk-slidenav-position uk-margin">
			<ul class="uk-grid uk-slideset">
				<a href="/assets/img/hotel/1.jpg" data-uk-lightbox title="">
					<li>
						<img src="/assets/img/hotel/1.jpg" alt="" />
					</li>	
				</a>
				<a href="/assets/img/hotel/2.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/hotel/2.jpg" alt="" /></li>
				</a>
				<a href="/assets/img/hotel/3.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/hotel/3.jpg" alt="" /></li>
				</a>
				<a href="/assets/img/hotel/4.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/hotel/4.jpg" alt="" /></li>
				</a>
				<a href="/assets/img/hotel/5.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/hotel/5.jpg" alt="" /></li>
				</a>
				<a href="/assets/img/hotel/6.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/hotel/6.jpg" alt="" /></li>
				</a>
			</ul>	
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideset-item="previous"></a>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideset-item="next"></a>
		</div>	<!-- /uk-slidenav-position -->
		<ul class="uk-slideset-nav uk-dotnav uk-flex-center">
			<li data-uk-slideset-item="0"><a href="#"></a></li>
			<li data-uk-slideset-item="1"><a href="#"></a></li>
			<li data-uk-slideset-item="2"><a href="#"></a></li>
		</ul>
	</div> <!--/uk-slideset  -->
	<h4 class="uk-text-center">
		<a href="http://basilonhotel.com" target="_blank" class="uk-button uk-button-danger">GO TO WEBSITE</a>
	</h4>
</div>
<!-- eco resort -->
<div class="uk-panel uk-panel-box uk-margin-top" id="resort">
	<h2 class="uk-text-danger uk-text-bold uk-text-center uk-margin-small-bottom">Basilon Eco Resort</h2>	
	<div data-uk-slideset="{default: 3}" class="uk-margin">
		<div class="uk-slidenav-position uk-margin">
			<ul class="uk-grid uk-slideset">
				<a href="/assets/img/sioni/1.jpg" data-uk-lightbox title="">
					<li>
						<img src="/assets/img/sioni/1.jpg" alt="" />
					</li>	
				</a>
				<a href="/assets/img/sioni/2.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/sioni/2.jpg" alt="" /></li>
				</a>
				<a href="/assets/img/sioni/3.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/sioni/3.jpg" alt="" /></li>
				</a>
				<a href="/assets/img/sioni/4.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/sioni/4.jpg" alt="" /></li>
				</a>
				<a href="/assets/img/sioni/5.png" data-uk-lightbox>
					<li> <img src="/assets/img/sioni/5.png" alt="" /></li>
				</a>
				<a href="/assets/img/sion/6.jpg" data-uk-lightbox>
					<li> <img src="/assets/img/sioni/6.jpg" alt="" /></li>
				</a>
			</ul>	
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideset-item="previous"></a>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideset-item="next"></a>
		</div>	<!-- /uk-slidenav-position -->
		<ul class="uk-slideset-nav uk-dotnav uk-flex-center">
			<li data-uk-slideset-item="0"><a href="#"></a></li>
			<li data-uk-slideset-item="1"><a href="#"></a></li>
			<li data-uk-slideset-item="2"><a href="#"></a></li>
		</ul>
	</div> <!--/uk-slideset  -->
</div>
