<%- include _partials/_header %>
<div class="uk-container uk-container-center">
	<%- include _partials/_about %>
	<%- include _partials/_projects %>
	<%- include _partials/_hotel %>
	<!-- <%- include _partials/_agriculture %> -->
	<%- include _partials/_contact %>
</div>
	<%- include _partials/_footer %>
